<h1>{{ band.name }}</h1>

<create-asset-list band="band" asset-lists="assetLists" ng-show="assetLists"></create-asset-list>

<p>Your files:</p>

<div ng-repeat="assetList in assetLists" ng-if="assetLists">
  <p>
    <b>{{assetList.name}}</b>
  </p>
  <div ng-nestable list="assetList" item-changed="assetChanged(list, item)" ng-model='assetList.assets_without_parent'>
    {{$item.name}}
  </div>
  <create-asset asset-list="assetList" band="band"></create-asset>
  <hr />
</div>


<div ui-calendar ng-model="eventSources"></div>

<ul data-as-sortable="dragControlListeners" data-ng-model="items">
   <li data-ng-repeat="item in items" data-as-sortable-item>
   		{{ item.name }}
      <div data-as-sortable-item-handle></div>
   </li>
</ul>