<h1>{{ band.name }}</h1>

<create-asset-list band="band" asset-lists="assetLists" ng-show="assetLists"></create-asset-list>

<p>Your files:</p>

<div ng-repeat="assetList in assetLists" ng-if="assetLists">
  <asset-list band="band" asset-list="assetList"></asset-list>
  <destroy-asset-list band="band" asset-lists="assetLists" asset-list="assetList"></destroy-asset-list>
  <div ng-nestable list="assetList" item-changed="assetChanged" ng-model='assetList.assets_without_parent'>
    <a ui-sref="band.asset({bandId: band.id, assetListId: assetList.id, assetId: $item.id})">{{ $item.name }}</a>
    <a ng-href="{{$item.file_url}}" target="_blank">
      <i class="fa fa-cloud-download"></i>
    </a>
    <destroy-asset band="band" asset-list="assetList" asset="$aggregate"></destroy-asset>
  </div>
  <create-asset asset-list="assetList" band="band"></create-asset>
  <hr />
</div>


<div ui-calendar ng-model="eventSources"></div>

<div class="tasklists-wrapper row">
  <div class="clearfix">
    <div class='col-sm-3' ng-repeat='taskList in taskLists'>
      <div class="tasklist">
        <h4>{{ taskList.name }}</h4>
        <ul ui-sortable="sortableOptions" ng-model="taskList.tasks" class="tasklist-tasks">
          <li ng-if="taskList.tasks.length === 0" class="empty-task-list-placeholder"></li>
          <li class="task" ng-repeat="task in taskList.tasks">
            {{ task.name }}
          </li>
        </ul>
        <a ui-sref="band.newTask({bandId: band.id, taskListId: taskList.id})">Add new task</a>
      </div>
    </div>
  </div>
  <create-task-list band="band" task-lists="taskLists"></create-task-list>
</div>
